# Welcome to Morse CSS

You are expected to work on Morse CSS, a powerful classless CSS framework. Consult README.md for user guide, and CONTRIBUTING.md for development guide. As a developer you are expected to mainly follow ARCHITECTURE.md contents.